html {
  min-height: 100%;
}

body {
  background: linear-gradient(287deg, rgba(183,239,255,1) 0%, rgba(249,148,216,1) 30%, rgba(209,129,147,1) 63%, rgba(66,211,251,1) 100%);
  max-width: 100vw;
  height: 100vh;  
  font-family: 'Rubik', sans-serif;
}

body .container {
  display: flex;
  justify-content: center;
  align-items:center;
  height: 100%;
  box-sizing: none;
}

.rectangle {
  width:470px;
  height:595px;
  background: #8FBDDF;
  border-radius: 30px;
}


.console-container {
  text-align:center;
  margin-top:45px;
  padding:15px;
  margin-bottom: 40px;
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  line-height: 44px;
  /* identical to box height */
  color: #FFFFFF;
}

.hidden {
  opacity:0;
}

.console-underscore {
  display:inline-block;
  position:relative;
  top:-0.14em;
  left:10px;
}

/* External Sign In */

.logo-container {
  display:flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.external-signin {
  width: 50px;
  height: 50px;
  border-radius:50%;
  background: #7fd5ed; 
  transition: 0.3s;
}

.external-signin:hover {
  background: #B7EFFF;
  transform: scale(1.15);
}

#facebook {
  margin: 0 50px;
  background-image: url(/assets/facebook.svg);
}

#twitter { 
  margin: 0 50px;
  background-image: url(/assets/twitter.svg);
}

#google-plus {
  
  background-image: url(/assets/google.svg);
}

/* Label and Text Box*/

.username-container {
  display: flex;
  justify-content: center;
  margin-top: 75px;
  padding: 5px;
}

#username-label {
  margin-top: 5px;
  margin-right: 15px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  /* identical to box height */ 
  color: #FFFFFF;
}

#username-box {
  width: 220px;
  height: 35px;
  border: none;
  outline: none;
  background: #dbdcdf;
  font-size: 18px;
  font-weight: 600;
}

.password-container {
  display: flex;
  justify-content: center;
  margin: 20px;
  padding: 5px;
}

#password-label {
  height: 25px;
  margin-top: 5px;
  margin-right: 15px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  /* identical to box height */
  color: #FFFFFF;
}

#password-box {
  width: 220px;
  height: 35px;
  border: none;
  outline: none;
  background: #dbdcdf;
  font-size: 18px;
}

/* Log In Button */

.btn-container {
  display:flex;
  justify-content:center;
  margin-top:80px;
}

#log-in-btn {
  text-align:center;
  color: #000;
  font-weight: 500;
  font-family: Rubik, sans-serif;
  width: 120px;
  height: 40px;
  font-size: 18px;
  background: #B7EFFF;
  border-radius: 30px;
  border: none;
  box-shadow: inset 0 0 0 0 #ffcdb7;
  transition: ease-out 0.2s;
  cursor: pointer;
}

#log-in-btn:hover {
  box-shadow: inset 120px 0 0 0 #ffcdb7;
  color: white;
}

